/* Exercici 2 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #fff2aa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
    font-size: 16px;
}

#weather {
    padding: 10px 20px;
}

.card {
    background-color: papayawhip;
    border-radius: 20px;
    padding: 20px 80px;
    min-width: 40vw;
    max-width: 90vw;
    box-shadow: 0px 0px 20px #333;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card > *{
    margin: 10px 0 30px 0;
}

.card-title {
    font-size: 2rem;
    font-weight: 600;
}

#joke {
    font-size: 1.5rem;
    font-weight: 400;
}

.jokeScores {
    display: flex;
    justify-content: center;
    gap: 80px;

}

.jokeScore {
    font-size: 3rem;
    color:mediumaquamarine;
}

.jokeScore:hover{
    color: #50a085;
}

.nextJokeBtn {
    padding: 10px 30px;
    background-color: lightcoral;
    border-radius: 8px;
    border: 2px whitesmoke solid;
    font-size: 1.2rem;
    font-weight: 600;
    color: whitesmoke;
}

.nextJokeBtn:hover {
    background-color: rgb(255, 242, 218);
    border: 2px lightcoral solid;
    color: lightcoral;
}
